*{
    margin:0;
    padding:0;
    border:0;
    outline:none;
    position:relative;
    text-decoration:none;
    list-style-type: none;
    box-sizing:border-box;
}
body{
    background-color:#2b2b2b;
    /* font-family:'Lato', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Open Sans Condensed', sans-serif;
    color:#2b2b2b;
    font-size:1em;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size:350%;
    font-weight:200;
    margin:2% 0;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight:300;
    line-height:1.2;
    margin:2% 0;
}
.flex-row{
    display:flex;
    flex-direction:row;
}
.flex-column{
    display:flex;
    flex-direction:column;
}
.wrapper{
    margin:auto;
    align-items:center;
}
.bold{
    font-weight:400;
    margin:5% 0;
    font-size:120%;
}
.dotted{
    border:1px dashed #2b2b2b;
}
.solid{
    border:1px solid #2b2b2b;
}
.main{
    padding:0 10%;
}






/* --------START HEADER-------- */






header{
    background-color: #f3f3f3;
}
header > .wrapper > img{
    width:20%;
    margin:5% 0;
}
nav{
    justify-content:center;
    height:4em;
    background-color:#2b2b2b;
    width:100%;
}
nav > ul{
    align-items:center;
    justify-content:center;
    width:100%;
}
nav > ul > li{
    margin: 0 2%;
}
nav > ul > li > a{
    font-size:110%;
    font-weight:200;
    color:#d3d3d3;
    transition:color 300ms ease-in-out;
}
nav > ul > li > a:hover{
    color:#ffffff;
}

.banner{
    background:url('images/banner.jpg')no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    width:100vw;
    height:60vh;
}





/* --------START STORY-------- */







#story{
    background-color:#f3f3f3;
    justify-content: space-evenly;
    padding: 10% 10%;
}
#story > .story-text{
    width:65%;
}
#story > .story-image{
    width:27%;
    align-self:center;
}
#story > .story-image > img{
    width:100%;
}






/* --------START MENU and OPENING  TIMES-------- */








#menu{
    padding:5% 15% 0 15%;
    z-index:2;
    justify-content:space-between;
}
.second-menu{
    padding:0 10% 5% 10%;
    justify-content:center;
    z-index:1;
    /* top:-70px; */
    margin-top:1%;
}
.menu-text{
    width:30%;
    height:10em;
    margin-top:10%;
    color:#f3f3f3;
}
.menu-text > p {
    line-height:1.1;
    letter-spacing: 0.1em;
    color:#a3a3a3;
}
.menu-text > p > span{
    font-style:italic;
    font-size: 90%;
}
.main-menu{
    box-shadow:-6px -5px 11px 9px rgba(0,0,0,.1);
    width:550px;
    background-color:#f3f3f3;
}
.main-menu > div{
    margin:1%;
    width:50%;
}
.category-head{
    margin:2% 2% 7% 2%;
}
.item{
    margin:2%;
}
.item-head, .with-extra{
    justify-content:space-between;
}
.main-menu p{
    font-size:80%;
    line-height:1.4;
    margin-top:0;
}
.main-menu > div > h4{
    font-size:250%;
    margin:1.5em 0;
    text-transform:uppercase;
    text-decoration:underline;
}
.category-name{
    font-size:120%;
}
.item-head > h4, .item > .item-body > ul{
    font-family:'Lato', sans-serif;
}
.item > .item-body > ul{
    font-size:65%;
    font-weight:300;
}
.lunch-title{
    text-align:right;
    margin: 2em 0 1em 0 !important;
}
#opening-times{
    color:#f3f3f3;
    width:30%;
    height:50%;
    border:1px dashed #f3f3f3;
    border-right:none;
    padding:1%;
    margin-bottom:25px;
    align-self:flex-end;
}
#opening-times > div > div{
    width:65%;
    justify-content:space-between;
}






/* ------START #contact------ */






#contact{
    background-color:#f3f3f3;
}
#contact > div{
    width:60%;
    align-items:center;
    margin:auto;
    padding:5% 0;
    justify-content:center;
}
#contact > div > div{
    width:20%;
    padding:7% 0;
    margin:0;
}
#contact > div > a{
    width:70%;
}
#contact > div > a > img{
    width:100%;
}
#contact h2{
    align-self:flex-start;
}
#contact ul{
    font-family:'Oswald', sans-serif;
    font-weight:300;
    line-height:1.5;
    text-align:left;
    align-items:flex-start;
    margin: 10% 0 20% 0;
    width:100%;
}
#contact  ul > li{
    width:100%;
}
#contact  ul > li > span > a{
    color:#2b2b2b;
    font-size:200%;
}







/* ------START FOOTER------ */






footer > img{
    position:absolute;
    right:0;
    bottom:0;
    width:40%;
}
footer > div{
    width:20%;
    margin-left:20% !important;
    padding:3%;
}
footer > div > img{
    width:100%;
}
.copyright{
    justify-content:center;
    align-items:center;
    color:#f3f3f3;
}
.copyright > p{
    font-size:60%;
    width:100%;
    margin:0;
    text-align:center;
}
.copyright > p > a{
    color:#f3f3f3;
    transition:text-decoration 300ms ease-in-out;
}
.copyright > p > a:hover{
    text-decoration:underline;
}